<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car price analysis</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carprices.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}" />
	
	<!-- This is for the leaflet map system, see http://leafletjs.com/examples/quick-start/ -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
	
	<!-- Add a geocoder so we can add postcodes and addresses and get coordinates back, see https://github.com/perliedman/leaflet-control-geocoder -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
	<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  </head>
  <body>
	  <div id="options" class="row1 col1 width1 height1 raisedbox">
		  <span class="raisedboxtitle">Controls</span>
		  <span class="selectorText">Search Name</span>
		  <div id="searchSelectorDiv" class="selDiv">
			<select name="chooseSearchName" id="chooseSearchName" class="sel" onchange="getData()"></select>
		  </div>
		  <span class="selectorText">x-axis</span>
		  <div id="xaxisSelectorDiv" class="selDiv">
			<select name="xaxis" id="xaxisSel" class="sel" onchange="updateScattergram()"></select>
		  </div>
		  <span class="selectorText">y-axis</span>
		  <div id="yaxisSelectorDiv" class="selDiv">
			<select name="yaxis" id="yaxisSel" class="sel" onchange="updateScattergram()"></select>
		  </div>
	  </div>
	  <div id="clusters" class="row2 col1 width2 height2 raisedbox">
		<div id="xSlider"></div>
		<div id="ySlider"></div>
		<div id="clustersChart"></div>
	  </div>
	  <div id="makesDonut" class="row1 col2 width1 height1 raisedbox">
		<span class="raisedboxtitle">Manufacturers</span>
		<div id="makesDonutContent" class="content widthc1 heightc1"></div>
	  </div>
	  <div id="carImage" class="row1 col3 width1 height1 raisedbox">
		<span class="raisedboxtitle">Image</span>
		<div id="carImageContent" class="content widthc1 heightc1">
			<span id="adTitleText"></span>
			<img id="carImageImg"/>
		</div>
	  </div>
	  <div id="keyFacts" class="row2 col3 width1 height1 raisedbox">
		<span class="raisedboxtitle">Key Facts</span>
		<div id="keyFactsContent" class="content widthc1 heightc1">
			<ul id="keyFactsList">
			</ul>
		</div>
	  </div>
	  <div id="priceHistory" class="row3 col3 width1 height1 raisedbox">
		<span class="raisedboxtitle">Price History</span>
		<div id="keyFactsContent" class="content widthc1 heightc1">
			<ul id="priceHistoryList">
			</ul>
		</div>
	  </div>
	  <div id="locationMap" class="row1 col4 width1 height3 raisedbox">
		<span class="raisedboxtitle">Map</span>
		<div id="locationMapContent" class="content widthc1 heightc3">
		</div>
	  </div>
	  <script src="{{ url_for('static', filename='carprices.js') }}"></script>
  </body>
</html>